<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Music</title>
</head>

<body>
    <div>
        <form>
            <input type="text" id="videoUrl">
            <button type="button" id="load">Load</button>
            <div id="result">
                <img src="#" id="thumbnail">
                <p id="title"></p>
                <p id="duration"></p>
            </div>
            <button type="button" id="add" disabled>Add</button>
        </form>
    </div>
    <div id="queue">
        <% for (let i=0; i<queue.length; i++) { %>
            <div id="queue-item">
                <img src="<%= queue[i].thumbnail %>" id="queue-thumbnail">
                <p id="queue-id">
                    <%= queue[i].videoId %>
                </p>
                <p id="queue-title">
                    <%= queue[i].title %>
                </p>
                <p id="queue-duration">
                    <%= queue[i].duration %>
                </p>
                <a href="/queue/delete/<%= i %>">Delete</a>
            </div>
            <% } %>
    </div>
    <script>
        let item;
        document.getElementById('load').addEventListener('click', () => {
            document.getElementById('add').setAttribute('disabled', 'true');
            const idRegEx = /(?:(?<=youtube\.com\/watch\?v=)|(?<=youtu\.be\/))[a-zA-Z0-9_-]{11}(?=.*)/;
            const url = document.getElementById('videoUrl').value;
            if (idRegEx.test(url)) {
                id = idRegEx.exec(url)[0];
            }
            fetch(`/queue/load/${id}`)
                .then(response => response.json())
                .then(data => {
                    item = data;
                    if (Object.keys(item).length !== 0) {
                        document.getElementById('thumbnail').src = item.thumbnail;
                        document.getElementById('title').innerText = item.title;
                        document.getElementById('duration').innerText = item.duration;
                        document.getElementById('add').removeAttribute('disabled');
                    } else {
                        document.getElementById('thumbnail').src = "#";
                        document.getElementById('title').innerText = "Video not found.";
                    }
                })
                .catch(err => console.error(err));
        });
        document.getElementById('add').addEventListener('click', () => {
            fetch('/queue/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(item),
            });
            window.location.reload();
        });
    </script>
</body>

</html>